<div class="row dashboard-container">
  <div class="col-sm-10">
      <div class="row">
          <div ng-repeat="(zone, list) in dashCtrl.models.dropzones" class="col-md-12">
              <div class="dropzone box box-yellow">
                  <div ng-include="'list.html'"></div>
              </div>
          </div>
      </div>
  </div>

  <!-- Sidebar -->
  <div class="col-md-2">
      <div class="toolbox box box-grey box-padding">
          <h3>New Elements</h3>
          <ul>
              <!-- The toolbox only allows to copy objects, not move it. After a new
                   element was created, dnd-copied is invoked and we generate the next id -->
              <li ng-repeat="item in dashCtrl.models.templates"
                  dnd-draggable="item"
                  dnd-effect-allowed="copy"
                  dnd-copied="item.id = item.id + 1"
                  >
                  <button type="button" class="btn btn-default btn-lg">{{item.type}}</button>
              </li>
          </ul>
      </div>

      <div ng-if="dashCtrl.models.selected" class="box box-grey box-padding">
          <h3>Selected</h3>
          <strong>Type: </strong> {{dashCtrl.models.selected.type}}<br>
          <input type="text" ng-model="dashCtrl.models.selected.id" class="form-control" style="margin-top: 5px" />
      </div>

      <div class="trashcan box box-grey box-padding">
          <!-- If you use [] as referenced list, the dropped elements will be lost -->
          <ul dnd-list="[]">
              <li><h3>Trashcan</h3></li>
          </ul>
      </div>
  </div>
</div>

<script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="dashCtrl.models.selected = item"
            ng-class="{selected: dashCtrl.models.selected === item}"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>

<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3>Container {{item.id}}</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="widget.html">
    <dash-widget widget-md="item">
    </dash-widget>
</script>
