<div class="row">
  <button class="btn btn-default" ng-class="{'btn-danger': desktopCtrl.editionMode}" ng-click="desktopCtrl.toggleEditionMode()">Edition Mode</button>
</div>
<div class="row dashboard-container" ng-class="{'edition': desktopCtrl.editionMode}">
  <div class="dashboard-drag-container" ng-class="{'col-sm-8': desktopCtrl.editionMode, 'col-sm-12': !desktopCtrl.editionMode}">
      <div class="row">
        <ul rn-carousel rn-carousel-index="desktopCtrl.models.dropzoneIndex" rn-swipe-disabled="{{desktopCtrl.editionMode}}" style="height: 600px;">
          <li ng-repeat="list in desktopCtrl.models.dropzones">
              <div class="dropzone box box-yellow">
                  <div ng-include="'list.html'"></div>
              </div>
          </li>
        </ul>
        <div rn-carousel-indicators ng-if="desktopCtrl.models.dropzones.length > 1" slides="desktopCtrl.models.dropzones" rn-carousel-index="desktopCtrl.models.dropzoneIndex"></div>
      </div>
  </div>

  <!-- Sidebar -->
  <div class="col-md-4" ng-show="desktopCtrl.editionMode">
      <div class="toolbox box box-grey box-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Available widgets</h3>
          </div>
          <div class="panel-body">
            <ul class="thumbnail-list">
                <!-- The toolbox only allows to copy objects, not move it. After a new
                     element was created, dnd-copied is invoked and we generate the next id -->
                <li ng-repeat="item in desktopCtrl.models.templates"
                    dnd-draggable="item"
                    dnd-effect-allowed="copy"
                    dnd-copied="item.id = item.id + 1"
                    class="thumbnail-item">
                    <desktop-widget-thumbnail widget-md="item"></desktop-widget-thumbnail>
                </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="trashcan box-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Lixeira</h3>
          </div>
          <div class="panel-body">
            <ul dnd-list="[]" dnd-inserted="desktopCtrl.onDesktopChange()">
                <!-- If you use [] as referenced list, the dropped elements will be lost -->
                <li><i class="glyphicon glyphicon-trash"></i></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

<script type="text/ng-template" id="list.html">
    <ul dnd-list="list" dnd-inserted="desktopCtrl.onDesktopChange()">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-disable-if="!desktopCtrl.editionMode"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            ng-include="item.type + '.html'">
        </li>
    </ul>
</script>

<!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
        <h3 ng-if="desktopCtrl.editionMode">Container</h3>
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
        <div class="clearfix"></div>
    </div>
</script>

<!-- Template for a normal list item -->
<script type="text/ng-template" id="widget.html">
    <desktop-widget widget-md="item">
    </desktop-widget>
</script>
